---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <header>
    <div class="header-container">
      <!-- Logo venstre -->
      <img src="/img/logo.svg" alt="logo" class="logo" />

      <!-- Burger-knapp høyre -->
      <button id="burger" class="burger">&#9776;</button>

      <!-- Meny -->
      <nav id="nav-menu" class="nav-menu">
        <a href="/">Hjem</a>
        <a href="⁦https://www.instagram.com/oasis.cph?igsh=MXcxM2dhMDNlaW53cA%3D%3D⁩" target="_blank" rel="noopener noreferrer">About us</a>
        <a href="/contact">Kontakt</a>
        <a href="/courses">Kurs</a>
      </nav>
    </div>
  </header>
</PageLayout>
