---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Article from "../components/Article.astro";
import Article2 from "../components/Article2.astro";
import Article3 from "../components/Article3.astro";
import GemSection from "../components/GemSection.astro";

// import Hero from "../img/herobillede.svg";
---

<PageLayout title="Oaser">
  <Hero />

  <Article />

  <Article2 />

  <Article />

  <GemSection />

  <section>
    <h2>Kort sektion</h2>
    <div class="grid_3_1f">
      <Card img="/imgs/graffiti01.webp" tag="Local CRTV" text="Lorem ipsum, dolor sit amet consectetur" />
      <Card img="/imgs/graffiti02.webp" tag="Global CRTV" text="Dolor sit amet consectetur Lorem ipsum" />
      <Card img="/imgs/graffiti03.webp" tag="Hidden Free Gem" text="Qui et debitis sit illum consequatur" />
    </div>
  </section>
</PageLayout>
