---
import Card from "./Card.astro";
import latestbillede1 from "../img/latest_update_billede1.svg";
import latestbillede2 from "../img/latest_update_billede2.svg";
import latestbillede3 from "../img/latest_update_billede3.svg";
import creativeEscape from "../img/creativeescapebillede.svg";

const { variant, img, tag, text, link } = Astro.props;
---

<section>
  <h2>BOOM</h2>
  <div class="grid_1_1f_1_2fr">
    <div class="flex_one_column">
      <Card img={latestbillede1} tag="Local CRTV" text="Hos AOF.dk finder du inspirerende kreative kurser for nybegyndere i København." link="/content/localcrtv" />
      <Card img={latestbillede2} tag="Global CRTV" text="Fejr Kreativolis 1-årsdag med hygge, konkurrencer og goodiebags!" />
      <Card img={latestbillede3} tag="Hidden Free Gem" text="Vilde Overvik Helmersen, studerende ved Mode og Designskolen: «At vise mine designs på Fashion Week var både nervepirrende og utrolig stort.»" />
    </div>
    <Card variant="featured" img={creativeEscape} tag="Global CRTV" text="Dolor sit amet consectetur Lorem ipsum" />
  </div>
</section>
