---
import Image from "astro/components/Image.astro";

const { img, articleTag, content } = Astro.props;
---

<article class="column-card">
  <Image src={img} alt="" />
  <p class="column-text">
    <span class="tag">{articleTag}</span><br />
    <span set:html={content} />
  </p>
</article>
