---
import Image from "astro/components/Image.astro";

const { img, articleTag, content } = Astro.props;
---

<article>
  <Image src={img} alt="" />
  <p><span>{articleTag}</span> {content}</p>
</article>

<style>
  span {
    text-transform: uppercase;
  }
</style>
